# This workflow will build and test a Go application
name: Build and Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build_and_test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.18
        check-latest: true
        cache: true

    - name: Build
      run: go build -v app.go

#     - name: Test
#       run: go test -v ./...
